* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}

main {
    max-width: 400px;
    margin: 0 auto;
    display: block;

}

h1 {
    margin: 10px;
    text-align: center;

    color: #333;
}

h2 {
    border-bottom: 1px solid #222;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px #333;
}

main img {
    width: 100%;
    height: auto;
    border: 5px solid #fff;

    padding: 10px;

    box-shadow: 0 0 30px #333;

}

aside img {
    width: 200px;
    height: auto;
}

section {
    margin: 20px 0;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 10px;
    background-color: #abe;
    font-size: .9rem;
}

section p {
    margin: 10px;
}

ul {
    margin: 10px;
}

nav {
    background-color: #444;

    padding: 10px;

    text-align: center;

}

nav a {
    color: #fff;

    padding: 10px 15px;

    display: block;

    text-decoration: none;

}

aside {
    width: 300px;

    margin: 20px auto;

    border: 1px solid #ddd;

    padding: 15px;

    background-color: #eef;

    color: #333;

    text-align: center;

}

p {
    padding: 0;

}

footer {
    font-size: .9rem;

    margin-top: 20px;

    border-top: 1px solid #ccc;

    text-align: center;

    padding: 10px;

}