* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    padding: 16px;
    text-align: center;
}

h2 {
    border-bottom: 1px solid #222;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    box-shadow: 0 0 30px grey;
}

p {
    padding: 10px;
}

main img {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 0 0 10px #aaa;
}

aside img {
    width: 200px;
    height: auto;
}

section {
    margin: 20px 0;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 10px;
    background-color: #abe;
    font-size: .9rem;
}

section p {
    margin: 10px;
}

ul {
    margin: 10px;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

aside {
    width: 300px;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #eee;
    color: #333;
}

footer {
    margin-top: 20px;
    border-top: 1px solid #000;
    text-align: center;
}